body{
    display:block;
    margin:auto;
    top:50px;
    font-family: Lato;
}
div.info{
    display: block;
    width: fit-content;
    height:fit-content;
}
li.info-item{
    display: inline-block;
    width: 14%;
    padding: 2%;
}
div.info-icon{
    display: block;
    width: 60%;
    margin:auto;
}

div.featured-work{
    margin-top: 5%;
    padding: 0px;
}
div.featured-images{
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
div.image-row{
    display: block;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
li.image{
    display: inline-block;
    padding:0px;
    margin: 5px;
}
img.image{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

div.footer{
    margin-top: 25px;
    background-color: #313131;
    padding-top: 25px;
    padding-bottom: 25px;
}
i{
    padding:10px;
    border-radius: 50%;
    color: white;
}